body {
  font-family: "Oswald", sans-serif;
}
.nav-item {
  padding: 0 18px;
}
p {
  font-family: "Roboto", sans-serif;
}
.btn {
  border-radius: 50px;
  font-weight: 200;
  height: 40px;
  width: 150px;
  letter-spacing: 1px;
}
.size {
  width: 40%;
}
.size-large {
  font-size: 4rem;
  letter-spacing: 1.5px;
}
h1 {
  font-weight: 900;
}
h2,
h3 {
  font-weight: 400;
}
.textBox {
  top: 10%;
  z-index: 2;
  position: absolute;
}
.textBox h1 {
  color: #fff;
}
.imageBox img {
  height: 400px;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
@media (max-width: 490px) {
  .textBox {
    position: relative;
    width: 100%;
  }
  .textBox h1 {
    color: #111;
  }
  .textBox .btn {
    display: none;
  }
}

#myImg:hover {
  opacity: 0.7;
}
.modal {
  z-index: 1;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}
.modal-content {
  max-width: 500px;
}
#caption {
  max-width: 700px;
  height: 150px;
}
.modal-content,
#caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  transition: 0.3s;
}
.close:hover,
.close:focus {
  cursor: pointer;
}
@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}
